body {
	padding-top: 10px;
	padding-bottom: 40px;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}
code {
	color:#333;
}
div[class="tooltip-inner"] {
	max-width: 350px;
}
