<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/bootstrap-2.3.1.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive-2.3.1.min.css" rel="stylesheet">
    <style type="text/css">
      .date{font-family:fixed,monospace;}
      .container{width:600px;margin:10px auto;}
      code{color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
      body{text-align:justify;}
    </style>
    <link href="/css/pygments.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{content}}
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-10475047-2', 'freegeoip.net');
      ga('send', 'pageview');
    </script>
  </body>
</html>
