<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/bootstrap-2.3.1.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap-responsive-2.3.1.min.css" rel="stylesheet">
    <style type="text/css">
      .date{font-family:fixed,monospace;}
      .container{width:600px;margin:10px auto;}
      code{color:rgba(0, 0, 0, 0.75);padding:1px 3px;}
      body{text-align:justify;}
    </style>
    <link href="/css/pygments.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      {{content}}
    </div>
  </body>
</html>
